* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    background-color: #f9f9fb;
}


/*header part*/

.top-background {
    width: 100%;
    height: 300px;
    background: #212429;
    margin: 0px auto;
    z-index: 0;
    position: absolute;
}

.page {
    z-index: 1000;
    margin: 0 auto;
    max-width: 1200px;
}

#container {
    position: relative;
    overflow: hidden;
}

nav {
    width: 50%;
    height: 502px;
    background: #212429;
    color: #ffffff;
    top: 0;
    bottom: 0;
    z-index: 1000;
    position: absolute;
    margin: 58px;
    margin-left: 0px;
    transform: translate3d(-100px, 0, 0);
    transition: all 1s ease;
    line-height: 100px;
    opacity: 0;
    pointer-events: none;
}

nav ul li {
    padding-left: 50px;
    border-bottom: 1px solid #d7d7d7;
    font-family: 'Montserrat', sans-serif;
}

.active-nav {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
}

#top-header {
    background-color: #212429;
    width: 100%;
    height: 20px;
}

.menu-bars {
    width: 15%;
}

.menu-bars .fa-bars {
    width: 5%;
    color: #ffffff;
    text-align: center;
    float: left;
    padding: 15px 33px 16px 24px;
    border-right: 2px solid#3c3c3c;
    border-left: 2px solid#3c3c3c;
}

.logo {
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
    padding: 0 0 40px 38%;
}

.social-icons {
    width: 30%;
    float: right;
    position: relative;
    padding: 0px 0px 0 20px;
}

.social-icons i {
    text-align: center;
    position: relative;
    color: #ffffff;
    float: right;
    border-left: 1px solid #3c3c3c;
    width: 15%;
    height: 120%;
    padding: 19px 10px 10px 10px;
}

.social-icons i:nth-child(1) {
    border-right: 2px solid #3c3c3c;
}

#header-slider {
    margin: 0 auto;
    height: 500px;
    width: 1533px;
    overflow: hidden;
}

#next {
    background: url(images/top_arrow.png);
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 6.5%;
    z-index: 9999;
    left: 96.3%;
}

#prev {
    background: url(images/bottom_arrow.png);
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    z-index: 9999;
    left: 96.3%;
}

.text-arrow {
    position: absolute;
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
    margin: 201px -17px 5px 1062px;
    float: right;
    width: 200px;
}

#subs-form {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding: 10px 30px 10px 50px;
}

#subs-form span {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 25%;
    padding: 0px 10px 30px 0px;
    letter-spacing: 3px;
}

#subs-form input[type="text"] {
    width: 95%;
    line-height: 40px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding-right: 150px;
    margin-left: 20px;
    text-transform: uppercase;
    text-indent: 10px;
}

#subs-form input:hover {
    box-shadow: 0px 0px 5px 2px #94b0ba;
}

#subs-form input[type="button"] {
    width: 148%;
    height: 50px;
    background-color: #212121;
    color: #f9f9fb;
    border: none;
    text-transform: uppercase;
    margin: 0 0 0 30px;
}


/*footer part*/

.footer {
    background-color: #212429;
    float: left;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #ffffff;
    margin-bottom: 20%;
    padding: 0px 21% 0% 18%;
    margin: 0 auto;
    position: relative;
    line-height: 11px;
}

.footer h2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.footer p {
    font-size: 13px;
    text-align: left;
    font-family: 'Hind', sans-serif;
}

.footer .footer-section-about img {
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.footer-section-about p {
    line-height: 24px;
}

.footer-section-tweets p {
    line-height: 24px;
}

.footer .footer-section-about,
.footer .footer-section-tweets,
.footer .footer-section-instagram,
.footer .footer-section-comments {
    float: left;
    line-height: 23px;
    width: 25%;
    margin-bottom: 45px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-section-tweets i {
    font-size: 13px;
    padding-top: 7px;
    padding-right: 2px;
}

.footer-section-tweets .tweet-with-icon i,
.footer-section-tweets p {
    float: left;
}

.footer .footer-section-about h2,
.footer-section-tweets h2,
.footer-section-instagram h2,
.footer-section-comments h2 {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-section-instagram h2 {
    margin-bottom: 20px;
}

.square-box {
    position: relative;
    height: 75px;
    width: 30%;
    background-color: #ffffff;
    z-index: 100;
    margin: 1px;
    float: left;
}

.footer-section-copyright {
    height: 40px;
    width: 100%;
    background: #17191c;
    color: #5b5d5f;
    text-align: center;
    clear: both;
    position: relative;
    padding-top: 8px;
    letter-spacing: 2px;
    font-family: 'Hind', sans-serif;
}

.line,
.footer-section-comments p {
    float: left;
}

.footer-section-comments span {
    float: left;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: .5px;
    background-color: #65676a;
}

.row {
    width: 100%;
    background-color: #f9f9fb;
    padding: 6% 0% 3% 1%;
    margin: 0 0 1% 0;
    float: left;
}

.column {
    float: left
}

.post-container {
    width: 22.25%;
    margin: 1% 2% 1% 0;
    float: left;
    /* min-height: 500px; */
    background-color: #ffffff;
    padding-bottom: 5px;
}

.post-container,
.post-container-with-image {
    float: left;
}


/* come-back-here */

.empty-box {
    width: 100%;
    height: 210px;
    background-color: #f4f4f4;
}

.black-empty-box-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-top: 15px;
}

.post-box {
    width: 100%;
    /* min-height: 300px; */
    padding: 0 10px;
}

.post-box-icon {
    text-align: center;
    transform: translate(0, -50%);
    width: 100%;
}

.post-box-icon i {
    background-color: black;
    padding: 10px;
    color: white
}

.post-box-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.post-box-header span {
    color: #999999;
    margin-top: 10px;
    display: block;
    letter-spacing: 2px;
    font-size: 14px;
}

.post-box-header span h3 {
    font-size: 15px;
    color: #212121;
}

.post-box-main-text {
    margin-top: 15px;
    text-align: center;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.post-box-readmore-btn {
    text-align: center;
    margin-top: 15px;
}

.post-box-readmore-btn input {
    background-color: #ffffff;
    outline: none;
    border-right: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.shadow-hover:hover {
    box-shadow: 0px 0px 5px 2px #d0d0d2;
    transition: 0.3s ease;
}

.post-box-leave-comment {
    width: 100%;
    margin-top: 15px;
    color: #464646;
}

.post-box-leave-comment-left {
    float: left;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.post-box-leave-comment-left span {
    float: left;
    padding: 0 5px;
}

.post-box-leave-comment-right {
    float: right;
}

.post-box-leave-comment-right i {
    margin-right: 2px;
    padding: 0 5px;
    font-size: 12px;
}

.full-empty {
    height: 430px;
    float: left;
    background-color: white;
}

.black-box {
    background-color: #212429;
    padding-bottom: 0px;
    text-align: center
}

.black-icon i {
    background-color: white;
    padding: 10px;
    color: black
}

.black-box span {
    color: #999999;
}

.black-box p {
    color: #ffffff;
}

.white-empty-box {
    background-color: white;
    height: 250px;
}

.horiz-border input {
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-left: none;
    border-right: none;
}

.last-row-post-container {
    margin: 5% 1% 1% 0;
    float: left;
}

.post-box-with-back-image {
    background-image: url(./images/back-image.jpg);
}

.post-box-readmore-btn input {
    background-color: transparent !important;
}

.last-row-section {
    width: 100%;
    background-color: #f9f9fb;
    padding: 0% 0% 3% 1%;
    float: left;
}

.youtube-player img {
    width: 100%;
    z-index: 100;
}

.youtube-background {
    background-color: #f4f4f4;
}

.youtube-background .post-box {
    background-color: #ffffff;
}

.youtube-background .post-box .post-box-leave-comment {
    background-color: #ffffff;
}

.white-square {
    height: 40px;
    width: 100%;
    background-color: white;
}

.black-background {
    background-color: #212429;
}

.black-box2 {
    height: 30px;
}

.black-box2 span {
    font-family: 'Montserrat', sans-serif;
    /* margin: 10px 15px 15px 15px; */
    font-size: 12px;
    text-align: center;
}

.empty-box span {
    text-align: center;
}

.black-box3 {
    height: 250px;
}

.black-box2 {
    background-color: #212429;
}

.circle {
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    height: 150px;
    width: 150px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
}

.circle-box {
    height: 500px;
}